# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 1909ad5e67067d7c81cc9cfec7bc5b458e83d100ae568d890ada68cdab915645ed6f7eb17345eb2f3d07a69fc841443acaccf7d57a28674bd9e7cd878fb3ce4d

test:
  secret_key_base: 66536bdfb74ae86cdca1063c8f21a93bc843451927c725dbe63aa7e89bae3978768d1b8f73771d5348a3d344b83080db69c9c88bb5fbe101ec7ff3f0431350a2

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
